<div class='m-page-width'>

  <% if current_lister.present? %>

  <% else %>
    <h1>Find the best tenant</h1>
    <p>Lorem ipsum dolor amet air plant wolf 3 wolf moon, single-origin coffee DIY vice lumbersexual pickled knausgaard pop-up cornhole ennui kinfolk venmo.</p>

    <p>Microdosing offal iPhone, vape cornhole iceland small batch hot chicken affogato portland celiac aesthetic.</p>
  <% end %>

</div>
